@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
  margin: 0%;
}
/*-----Estilos Base--------*/

img{
   display: block;
   width: 100%;
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin: 0%;

}

.container{
    width: 100%;
    margin:auto;

}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column{
    width: 100%;
}


/*------Estilo de la Cabezera-------*/

.main-header{
width: 100%;
}

.logo{
    font-size: 1.8em;
    color:#3a7cde;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.main-header__contactInfo__phone{
    background-color: #3a7cde;
    color: aliceblue;
    margin: 0% auto;
    padding: 10px;
}

.main-header__contactInfo__address{
    padding: 10px;
    margin: 0%;
}

.main-header [class*="icon-"]:before{
    position: relative;
    top: 2px;
    right: 5px;
}

/*---------------Estilos del Menu----------- */

.main-nav{
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}

.icon-menu{
    display: block;
    color: rgb(247, 241, 233);
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;   
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

.social-icon{
    display: flex;
    justify-content: space-between;
}

.social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em; 
    width: 35px;
    height: 35px;
    background: white ;
    border-radius: 50%;
}

.social-icon__link{
    text-decoration: none;
    
}

.menu{
    position: absolute;
    top: 60px;
    left: 0%;
    width: 100%;
    background: rgba(0,0,0,.85);
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-align: center;
    height: 0%;
    overflow: hidden;
    transition: height .3s linear;
}
    
.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu__link:hover{
    background: #3a7cde;

}

.menu__link--select{
    background: #3a7cde ;

}

.mostrar{
  height: 196px ;  
}

/*---------------Estilos del Banner----------- */

.banner{
    margin-top: -55px ;
    position: relative;
}

.banner:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    top: 0;
}

.banner__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner__content{
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}

/*----------------------Estilos Principales-------------------*/


.group--color .container{
    background:#3a7cde ;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}
    

.main__title{
    margin: 15px 0;
    font-size: 1.8em;
    font-family: "Pacifico",cursive;
    font-weight: 100;
}

.column__title{
    font-size: 1.3em;
}

.main__abaout__description .column:nth-child(2){
    padding: 10px;
}

.btn{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: #04070a;
    padding: 10px;
    margin: 10px auto ;
    color: whitesmoke;
}

button{
    background: #000000;
    color: whitesmoke;
    width: 120px;
    height: 30px;
    margin-left: 37%;
    margin-right: 37%
   
}

.group__title{
    font-family: "Pacifico",cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.9em;
    margin: 30px;

}


.today-special .column{
    margin-bottom: 30px;
    text-align: center;
}

.today-special__img{
    margin: auto;
    max-width: 230px;
}

.today-special__title{
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;

}

.today-special__price{
    font: size 1.5em; 
    color:#04070a ;
    font-weight: bold;
}


/*----------------------Estilos de lo de abajo -------------------*/

.main-footer{
    background: #222;
    color: whitesmoke;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .9em;
}

.copy{
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


.main-footer [class*="icon-"] {
    color: whitesmoke;
    text-decoration: none;
}

.main-footer [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}

/*----------------------Estilos -------------------*/
@media screen and (min-width:480px){
    .logo{
        color: whitesmoke;
    }
    .main-header__contactInfo{
        text-align: right;
    }
    .banner{
        margin-top:-170px;
    
        z-index: -1000;
    }

    .banner__img{
        height: 700px;
    }
    .banner__content{
        font-size: 2em;
    }
    .main{
        padding-bottom: 15px;
    }

    .main-header__contactInfo__phone{
        background: none;
    }

    .main-header__contactInfo__address{
        color: whitesmoke;
    }
    .main-footer .container--flex{
        align-items: flex-start;
    }
    .column--50{
        width: 49%;
        object-fit: cover;
        font-size: 1.2em;
    }
    .main-nav{
        background: rgba(0,0,0,0.85)
    }

    .column--50-25{
        width: 49%;
    }

    .column-33{
        width: 33%;
    }

    .main__abaout__description .btn {
        margin: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .today-special .column{
        border: 2px solid #ddd;
        height: 285px;
    }

    .today-special__img{
        width: 300px;
        object-fit: cover;
    }

}
@media screen and (min-width:768px){
    .main__title{
        font-size: 2.2em;
    }

    .main__abaout__description{
        margin-top: 15px;
    }

    .main__abaout__description .column--50:nth-child(2){
        font-size: 1.2em;
    }

    .main__abaout__description .column--50:nth-child(2) 
    .column__txt{
        line-height: 35px;

    }
    
    .column--50-25{
        width: 24.5%;
    }

    .column__title{
        font-size: 1em;
    }

    .group__title{
        font-size: 2.2em;
    }
}

@media screen and (min-width:1024px){
    .container{
        width: 1000px;
    }
    
    .logo{
        font-size: 2em;
        padding: 0;
    }

    .main-header__contactInfo__phone,.main-header__contactInfo__address{
        padding-right: 0;
        font-size: 1.15em;
    }
    .main-nav{
        padding: 0;
    }

    .banner__content{
        font-size: 2.5em;
    }

    .icon-menu{
        display: none;
    }

    .menu{
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }

    .menu__link{
        padding: 20;
    }

    .group--color .container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }

    .main__title{
        font-size: 2.5em;
    }

    .main__abaout__description .column--50:nth-child(2)
    .column__txt {
        line-height: 35px;
    }

    .today-special__title{
        font-size: 1.4;
    }

    .today-special__price{
        font-size: 1.3em;
    }

    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media screen and (min-width:1666px){
    .container{
        width: 1400px; 
    }
    .main__abaout__description .column--50:nth-child(1) img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .banner__img{
        height: 800px;
    }

    .today-special__img{
        height: 300px;
    }
    
}