.out-team{
    text-align: center;
    margin-bottom: 20px;
}

.our-team .container--flex{
    align-items:flex-start ;
}

.our-team__title{
    font-family: "Pacifico",cursive;
    color: #3a7cde;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.our-team__img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.our-team__txt{
    padding: 10px;
   
}
